@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&family=Poppins:wght@100;200;400;600&family=Raleway:wght@100;300;600;800&family=Roboto+Flex:opsz,wght@8..144,100;8..144,300&family=Roboto:wght@100;400;700&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif; }

/* Contenedor-transparente */
/*Estilos generales  */
body {
  width: 1100px;
  margin: 0 auto;
  color: #EAEAEA;
  background-color: #090909;
  background-image: linear-gradient(to bottom, #090909, #1d39562c);
  font-family: var(--font-tittle);
  border-left: 1px solid rgba(255, 255, 255, 0.135);
  border-right: 1px solid rgba(255, 255, 255, 0.135); }

/* HEADER */
header {
  background-image: linear-gradient(to bottom, #141414, #c2c1c11c);
  backdrop-filter: blur(10px);
  border-left: inset 0.1px #EAEAEA;
  border-right: inset 0.1px #2370c2;
  border-bottom: inset 0.1px #542260;
  box-shadow: 0px 0px 3px rgba(245, 245, 245, 0.798);
  position: sticky;
  top: 0;
  height: 70px;
  z-index: 10;
  animation-name: header;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-duration: 3s;
  margin-bottom: 5em;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; }

@keyframes header {
  0% {
    transform: translate(0, -70px); }
  100% {
    transform: translate(0, 0); } }

.logo-header {
  width: 50px;
  height: 50px; }

.logo-header,
.navbar-toggler {
  animation-name: logo;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-duration: 5s; }

/* Animación logo- icon-hamburger header */
@keyframes logo {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

.navbar {
  position: sticky;
  margin-bottom: 3em; }

.navbar-collapse {
  flex-grow: initial; }

a.nav-link {
  color: #EAEAEA; }

a.nav-link:hover {
  color: #2370c2; }

/* Menú hamburguesa */
.navbar-toggler {
  background-image: none;
  backdrop-filter: none; }

/* Animacíon logos-tittles */
.logo-big,
.inicio__container h1 {
  transition: 3s;
  animation-name: tittle-animado;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-duration: 5s; }

@keyframes tittle-animado {
  0% {
    transform: scale(0, 0);
    opacity: 0; }
  100% {
    transform: scale(1, 1); } }

/* Logo y titulo de secciones */
.container-logo-titulos {
  display: flex;
  flex-direction: column;
  align-items: center; }

.logo-big {
  width: 120px;
  text-align: center;
  margin-bottom: 2em; }

.tittle {
  font-size: 5em;
  transform: translate(-100px, -10px);
  color: #E56399; }

/* FOOTER */
footer {
  width: 100%;
  position: relative;
  color: #E56399;
  bottom: 0;
  margin: 0 auto;
  height: 70px;
  padding: 1em;
  font-size: .5em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(to bottom, #141414, #c2c1c11c);
  backdrop-filter: blur(10px);
  border-left: inset 0.1px #EAEAEA;
  border-right: inset 0.1px #2370c2;
  border-bottom: inset 0.1px #542260;
  box-shadow: 0px 0px 3px rgba(245, 245, 245, 0.798);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; }

.footer-logo {
  width: 40px;
  height: 40px; }

.redes {
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

.footer-icon {
  width: 30px;
  height: 30px;
  margin: 0 2em; }

.footer-icon--youtube {
  width: 25px;
  height: 25px; }

/*Index  */
.inicio__container {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2em; }
  .inicio__container h1 {
    font-size: 5em;
    color: #EAEAEA;
    line-height: 120px;
    margin-left: 1em;
    text-shadow: 3px 0px 5px #542260; }
  .inicio__container span {
    margin: 0 .3em; }
  .inicio__container video {
    box-shadow: 1px 0px 2px #542260;
    border-radius: 15px; }

/* slider bootrtrap */
.slide {
  width: 70%;
  margin: 3em auto; }

/* Titulo principal */
main h2 {
  font-size: 2em;
  text-align: center;
  color: #2370c2;
  margin: 2em 0; }

.text-index {
  padding: 1em;
  border-radius: 15px;
  background-image: linear-gradient(to bottom, #141414, #c2c1c11c);
  backdrop-filter: blur(10px);
  border-left: inset 0.1px #EAEAEA;
  border-right: inset 0.1px #2370c2;
  border-bottom: inset 0.1px #542260;
  box-shadow: 0px 0px 3px rgba(245, 245, 245, 0.798); }

/* Textos en todas las secciones */
.text {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.3em; }

/* Section */
.flex-gallery {
  display: flex;
  justify-content: center;
  margin: 5em 0; }

.tittle-medium {
  text-align: center;
  margin-bottom: 3em; }

/* Taller */
/* Grid */
.taller-container-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 10px;
  justify-items: center;
  align-items: center;
  margin: 5em 0; }
  .taller-container-grid img {
    background-image: linear-gradient(to bottom, #141414, #c2c1c11c);
    backdrop-filter: blur(10px);
    border-left: inset 0.1px #EAEAEA;
    border-right: inset 0.1px #2370c2;
    border-bottom: inset 0.1px #542260;
    box-shadow: 0px 0px 3px rgba(245, 245, 245, 0.798); }

/* flex-tecnicas */
.flex-tecnicas {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5em; }

.container-tecnicas {
  width: 80%;
  padding: 2em; }
  .container-tecnicas p {
    padding: 2em;
    border-radius: 15px;
    background-image: linear-gradient(to bottom, #141414, #c2c1c11c);
    backdrop-filter: blur(10px);
    border-left: inset 0.1px #EAEAEA;
    border-right: inset 0.1px #2370c2;
    border-bottom: inset 0.1px #542260;
    box-shadow: 0px 0px 3px rgba(245, 245, 245, 0.798);
    margin: 0 auto; }
  .container-tecnicas video {
    width: 100%; }

.tecnicas-tittle {
  font-size: 2em;
  padding: 1em;
  color: #2370c2; }

/* taller-article */
.article h2 {
  font-size: 2em;
  padding: 3em;
  text-align: center;
  color: #E56399; }

/* Datos  */
.container-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  margin: 3em auto;
  padding: 1em;
  border-radius: 30px;
  background-image: linear-gradient(to bottom, #141414, #c2c1c11c);
  backdrop-filter: blur(10px);
  border-left: inset 0.1px #EAEAEA;
  border-right: inset 0.1px #2370c2;
  border-bottom: inset 0.1px #542260;
  box-shadow: 0px 0px 3px rgba(245, 245, 245, 0.798); }
  .container-info img {
    border-radius: 15px; }

.info-text {
  text-align: end;
  font-size: 1.5em;
  text-transform: capitalize; }

/* obras */
.obras-subtittle {
  text-align: center;
  color: #2370c2;
  margin-bottom: 2em; }

.flex-obras-container {
  display: flex;
  padding: 1em;
  margin: 5em 0;
  justify-content: space-around;
  align-items: center; }

.flex-obras-items {
  width: 350px;
  padding: 1em 0;
  text-align: center;
  background-image: linear-gradient(to bottom, #141414, #c2c1c11c);
  backdrop-filter: blur(10px);
  border-left: inset 0.1px #EAEAEA;
  border-right: inset 0.1px #2370c2;
  border-bottom: inset 0.1px #542260;
  box-shadow: 0px 0px 3px rgba(245, 245, 245, 0.798);
  border-radius: 15px; }
  .flex-obras-items h3 {
    text-transform: uppercase;
    font-weight: 200;
    margin-bottom: 1em;
    color: #E56399; }
  .flex-obras-items video {
    margin-bottom: 1em; }
  .flex-obras-items a img {
    width: 30px;
    height: 30px;
    margin: 1em 0; }
  .flex-obras-items h4 {
    color: #E56399; }

/* Encuentros */
.flex-encuentros {
  display: flex;
  flex-direction: column; }

.text-encuentros {
  width: 80%;
  margin: 0 auto;
  text-align: center; }

.flex-encuentros-items {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  padding: 1em;
  align-items: center;
  margin: 2em auto;
  background-image: linear-gradient(to bottom, #141414, #c2c1c11c);
  backdrop-filter: blur(10px);
  border-left: inset 0.1px #EAEAEA;
  border-right: inset 0.1px #2370c2;
  border-bottom: inset 0.1px #542260;
  box-shadow: 0px 0px 3px rgba(245, 245, 245, 0.798);
  border-radius: 30px; }
  .flex-encuentros-items p {
    width: 300px; }
  .flex-encuentros-items img {
    border-radius: 15px; }

/* Bio */
.img-biografia {
  width: 100%;
  margin: 3em auto; }

.texto-somos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  margin: 5em 0; }
  .texto-somos h2 {
    color: #2370c2;
    font-size: 3em;
    margin: 1em 0; }
  .texto-somos img {
    margin: 3em 0; }

/* Tarjetas */
.card-somos {
  width: 300px;
  height: 200px;
  margin: 1em auto;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background-image: linear-gradient(to bottom, #141414, #c2c1c11c);
  backdrop-filter: blur(10px);
  border-left: inset 0.1px #EAEAEA;
  border-right: inset 0.1px #2370c2;
  border-bottom: inset 0.1px #542260;
  box-shadow: 0px 0px 3px rgba(245, 245, 245, 0.798); }
  .card-somos img {
    width: 70px;
    height: 70px;
    border-radius: 50%; }
  .card-somos p {
    width: 120px;
    text-align: start; }

.perfil {
  flex-direction: column;
  justify-items: center; }

/* Contacto */
.fieldset-css {
  width: 40%;
  height: 600px;
  margin: 3em auto 5em;
  text-align: center;
  padding: 2em;
  border-radius: 30px;
  background-image: linear-gradient(to bottom, #141414, #c2c1c11c);
  backdrop-filter: blur(10px);
  border-left: inset 0.1px #EAEAEA;
  border-right: inset 0.1px #2370c2;
  border-bottom: inset 0.1px #542260;
  box-shadow: 0px 0px 3px rgba(245, 245, 245, 0.798); }

form fieldset p {
  margin-bottom: 2em; }

fieldset input {
  background-color: #09121b;
  color: #EAEAEA;
  margin-left: 1em; }

button {
  padding: .5em 1em;
  border-radius: 30px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 30px;
  background-image: linear-gradient(to top, #141414, #2370c2);
  backdrop-filter: blur(10px);
  border-left: inset 0.1px #EAEAEA;
  border-right: inset 0.1px #2370c2;
  border-bottom: inset 0.1px #542260;
  color: #EAEAEA; }

/* media queries */
/*Mobile */
@media (max-width: 468px) {
  /* estilos generales */
  body,
  .header {
    width: 350px; }
  .header {
    flex-direction: row;
    align-items: center; }
  .header__logo {
    width: 60px;
    height: 60px;
    margin: 1em 0; }
  .text {
    width: 300px;
    margin: 0 auto; }
  .tittle {
    font-size: 4em; }
  footer {
    font-size: .5px; }
  /* index */
  main {
    margin-top: 1em;
    overflow-x: hidden; }
  .inicio__container {
    flex-direction: column-reverse;
    align-items: center;
    margin: 0 auto; }
    .inicio__container video {
      width: 350px;
      margin-bottom: 1px; }
    .inicio__container h1 {
      transform: translate(-40px);
      animation: none; }
  .slide {
    width: 100%; }
  /* taller */
  /* grid */
  .taller-container-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9, 1fr); }
  .container-tecnicas {
    width: 350px; }
  .container-info {
    width: 350px;
    font-size: .5em;
    line-height: normal; }
    .container-info img {
      width: 50%; }
  /* obras */
  .flex-obras-container {
    flex-direction: column;
    align-items: center; }
  .flex-obras-items {
    margin: 2em 0; }
  /* Biografía */
  .texto-somos {
    justify-content: center; }
  /* Encuentros */
  .tittle-encuentros {
    transform: translate(-30px, 0); }
  .flex-encuentros-items {
    flex-direction: column;
    padding: 2em;
    width: 100%; }
    .flex-encuentros-items img {
      width: 270px;
      margin-bottom: 1em; }
    .flex-encuentros-items p {
      width: 300px;
      text-align: center; }
  /* Contacto */
  .tittle-contacto {
    transform: translate(-60px, 0); }
  .fieldset-css {
    width: 100%; } }
