@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&family=Poppins:wght@100;200;400;600&family=Raleway:wght@100;300;600;800&family=Roboto+Flex:opsz,wght@8..144,100;8..144,300&family=Roboto:wght@100;400;700&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif; }

/* Contenedor-transparente */
/*Estilos generales  */
body {
  width: 1100px;
  margin: 0 auto;
  color: #EAEAEA;
  background-color: #090909;
  background-image: linear-gradient(to bottom, #090909, #1d39562c);
  border-left: 1px solid #2370c276;
  border-right: 1px solid #5322608b;
  box-shadow: 0px 0px 100px  #000000; }

/* HEADER */
header {
  background-image: linear-gradient(to bottom, #141414, #3d3a621c);
  backdrop-filter: blur(5px);
  border-left: inset 0.1px #EAEAEA;
  border-right: inset 0.1px #2370c2;
  border-bottom: inset 0.1px #542260;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.798);
  position: sticky;
  top: 0;
  height: 70px;
  z-index: 10;
  animation-name: header;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-duration: 3s;
  margin-bottom: 5em;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  /* Menú hamburguesa */ }
  header .logo-header {
    width: 50px;
    height: 50px; }
  header .logo-header,
  header .navbar-toggler {
    animation-name: logo;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-duration: 5s; }
  header .navbar {
    position: sticky;
    margin-bottom: 3em; }
  header .navbar-collapse {
    flex-grow: initial;
    flex-wrap: nowrap; }
  header a.nav-link {
    color: #EAEAEA; }
  header a.nav-link:hover {
    color: #2370c2; }
  header .navbar-toggler {
    background-image: none;
    backdrop-filter: none; }

@keyframes header {
  0% {
    transform: translate(0, -70px); }
  100% {
    transform: translate(0, 0); } }

/* Animación logo- icon-hamburger header */
@keyframes logo {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

/* Animacíon logos-tittles */
.logo-big,
.inicio__container h1 {
  transition: 3s;
  animation-name: tittle-animado;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-duration: 5s; }

@keyframes tittle-animado {
  0% {
    transform: scale(0, 0);
    opacity: 0; }
  100% {
    transform: scale(1, 1); } }

/* Logo y titulo de secciones */
.container-logo-titulos {
  display: flex;
  flex-direction: column;
  align-items: center; }

.logo-big {
  width: 120px;
  text-align: center;
  margin-bottom: 2em; }

.tittle {
  font-size: 5em;
  transform: translate(-100px, -10px);
  color: #E56399; }

/* FOOTER */
footer {
  color: #E56399;
  padding: 1em;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(to bottom, #141414, #3d3a621c);
  backdrop-filter: blur(5px);
  border-left: inset 0.1px #EAEAEA;
  border-right: inset 0.1px #2370c2;
  border-bottom: inset 0.1px #542260;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.798);
  border-top: outset 0.1px #542260;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.798);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; }
  footer .info-desarrollador {
    display: flex;
    flex-direction: column;
    align-items: center; }
    footer .info-desarrollador .logo-personal {
      width: 30px;
      height: 30px; }
    footer .info-desarrollador h6 {
      color: #2370c2; }
  footer .footer-logo {
    width: 40px;
    height: 40px;
    transform: translateX(-60px); }
  footer .redes {
    display: flex;
    flex-direction: column;
    align-items: center; }
    footer .redes .icons {
      flex-direction: row; }
    footer .redes .footer-icon {
      margin-right: 1em; }

/*Index  */
.inicio__container {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2em; }
  .inicio__container h1 {
    font-size: 5em;
    color: #EAEAEA;
    line-height: 120px;
    margin-left: 1em;
    text-shadow: 3px 0px 5px #542260; }
  .inicio__container span {
    margin: 0 .3em; }
  .inicio__container video {
    box-shadow: 1px 0px 2px #542260;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.798); }

/* slider bootrtrap */
.slide {
  width: 70%;
  margin: 3em auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.798); }

/* Titulo principal */
main h2 {
  font-size: 2em;
  text-align: center;
  color: #2370c2;
  margin: 2em 0; }

.text-index {
  padding: 1em;
  border-radius: 15px;
  background-image: linear-gradient(to bottom, #141414, #3d3a621c);
  backdrop-filter: blur(5px);
  border-left: inset 0.1px #EAEAEA;
  border-right: inset 0.1px #2370c2;
  border-bottom: inset 0.1px #542260;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.798); }

/* Textos en todas las secciones */
.text {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.3em; }

/* Section */
.flex-gallery {
  display: flex;
  justify-content: center;
  margin: 5em 0; }
  .flex-gallery img {
    box-shadow: 0px 0px 10px black; }

.tittle-medium {
  text-align: center;
  margin-bottom: 3em; }

/* Taller */
/* Grid */
.taller-container-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
  align-items: center;
  margin: 5em 0; }
  .taller-container-grid img {
    width: 350px;
    background-image: linear-gradient(to bottom, #141414, #3d3a621c);
    backdrop-filter: blur(5px);
    border-left: inset 0.1px #EAEAEA;
    border-right: inset 0.1px #2370c2;
    border-bottom: inset 0.1px #542260;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.798); }

/* flex-tecnicas */
.flex-tecnicas {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5em; }

.container-tecnicas {
  width: 80%;
  padding: 2em; }
  .container-tecnicas p {
    padding: 2em;
    border-radius: 15px;
    background-image: linear-gradient(to bottom, #141414, #3d3a621c);
    backdrop-filter: blur(5px);
    border-left: inset 0.1px #EAEAEA;
    border-right: inset 0.1px #2370c2;
    border-bottom: inset 0.1px #542260;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.798);
    margin: 0 auto; }
  .container-tecnicas video {
    width: 100%; }

.tecnicas-tittle {
  font-size: 2em;
  padding: 1em;
  color: #2370c2; }

/* taller-article */
.article h2 {
  font-size: 2em;
  padding: 3em;
  text-align: center;
  color: #E56399; }

/* Datos  */
.container-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  margin: 3em auto;
  padding: 1em;
  border-radius: 30px;
  background-image: linear-gradient(to bottom, #141414, #3d3a621c);
  backdrop-filter: blur(5px);
  border-left: inset 0.1px #EAEAEA;
  border-right: inset 0.1px #2370c2;
  border-bottom: inset 0.1px #542260;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.798); }
  .container-info img {
    border-radius: 15px; }

.info-text {
  text-align: end;
  font-size: 1.5em;
  text-transform: capitalize; }

/* obras */
.videos-danza {
  text-align: center;
  display: block;
  padding: .5em;
  width: 250px;
  border-radius: 15px;
  color: #2370c2;
  margin: 2em auto;
  background-image: linear-gradient(to bottom, #141414, #3d3a621c);
  backdrop-filter: blur(5px);
  border-left: inset 0.1px #EAEAEA;
  border-right: inset 0.1px #2370c2;
  border-bottom: inset 0.1px #542260;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.798); }

.flex-obras-container {
  display: flex;
  padding: 1em;
  margin: 5em 0;
  justify-content: space-around;
  align-items: center; }

.flex-obras-items {
  width: 350px;
  padding: 1em 0;
  text-align: center;
  background-image: linear-gradient(to bottom, #141414, #3d3a621c);
  backdrop-filter: blur(5px);
  border-left: inset 0.1px #EAEAEA;
  border-right: inset 0.1px #2370c2;
  border-bottom: inset 0.1px #542260;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.798);
  border-radius: 15px; }
  .flex-obras-items h3 {
    text-transform: uppercase;
    font-weight: 200;
    margin-bottom: 1em;
    color: #E56399; }
  .flex-obras-items video {
    margin-bottom: 1em; }
  .flex-obras-items a img {
    width: 30px;
    height: 30px;
    margin: 1em 0; }
  .flex-obras-items h4 {
    color: #E56399; }

/* Encuentros */
.flex-encuentros {
  display: flex;
  flex-direction: column; }

.text-encuentros {
  width: 80%;
  margin: 0 auto;
  text-align: center; }

.flex-encuentros-items {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  padding: 1em;
  align-items: center;
  margin: 2em auto;
  background-image: linear-gradient(to bottom, #141414, #3d3a621c);
  backdrop-filter: blur(5px);
  border-left: inset 0.1px #EAEAEA;
  border-right: inset 0.1px #2370c2;
  border-bottom: inset 0.1px #542260;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.798);
  border-radius: 30px; }
  .flex-encuentros-items img {
    border-radius: 15px; }
  .flex-encuentros-items div {
    flex-direction: column;
    text-align: center; }
    .flex-encuentros-items div h5 {
      color: #E56399; }
    .flex-encuentros-items div h6 {
      color: #2370c2; }
    .flex-encuentros-items div p {
      width: 270px; }

/* Bio */
.img-biografia {
  width: 100%;
  margin: 3em auto; }

.container-tarjetas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr); }

/* Tarjetas */
.card-somos {
  width: 300px;
  height: 200px;
  margin: 1em auto;
  padding: 1em;
  display: flex;
  border-radius: 30px;
  background-image: linear-gradient(to bottom, #141414, #3d3a621c);
  backdrop-filter: blur(5px);
  border-left: inset 0.1px #EAEAEA;
  border-right: inset 0.1px #2370c2;
  border-bottom: inset 0.1px #542260;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.798); }
  .card-somos img {
    width: 100px;
    height: 100px;
    border-radius: 50%; }
  .card-somos p {
    width: 150px;
    text-align: start; }
  .card-somos h5 {
    text-align: center;
    color: #2370c2; }

.perfil {
  flex-direction: column;
  justify-items: center; }

/* Contacto */
.fieldset-css {
  width: 40%;
  height: 600px;
  margin: 3em auto 5em;
  text-align: center;
  padding: 2em;
  border-radius: 30px;
  background-image: linear-gradient(to bottom, #141414, #3d3a621c);
  backdrop-filter: blur(5px);
  border-left: inset 0.1px #EAEAEA;
  border-right: inset 0.1px #2370c2;
  border-bottom: inset 0.1px #542260;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.798); }

form fieldset p {
  margin-bottom: 2em; }

fieldset input {
  background-color: #09121b;
  color: #EAEAEA;
  margin-left: 1em; }

button {
  padding: .5em 1em;
  border-radius: 30px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 30px;
  background-image: linear-gradient(to top, #141414, #2370c2);
  backdrop-filter: blur(10px);
  border-left: inset 0.1px #EAEAEA;
  border-right: inset 0.1px #2370c2;
  border-bottom: inset 0.1px #542260;
  color: #EAEAEA; }

/* media queries */
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  body {
    width: 80%; }
  .inicio__container {
    flex-direction: column-reverse;
    align-items: center;
    margin: 0 auto; }
    .inicio__container video {
      width: 500px;
      margin-bottom: 3em; }
    .inicio__container h1 {
      transform: translate(-40px); } }

@media only screen and (max-width: 768px) {
  body {
    width: 80%; }
  footer {
    height: 90px;
    text-align: center;
    justify-content: space-between; }
    footer .footer-logo {
      width: 20%;
      height: 20%;
      transform: translateX(-60px); }
  main {
    overflow-x: hidden; }
  .inicio__container {
    flex-direction: column-reverse;
    align-items: center;
    margin: 0 auto; }
    .inicio__container video {
      width: 500px;
      margin-bottom: 3em; }
    .inicio__container h1 {
      transform: translate(-40px); }
  .slide {
    width: 100%; }
  .flex-obras-container {
    flex-direction: column; }
    .flex-obras-container .flex-obras-items {
      margin-bottom: 2em; }
  .taller-container-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9, 1fr); }
  .container-info {
    width: 90%; }
    .container-info .info-text {
      font-size: 1em; }
  .container-tarjetas {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(12, 1fr); }
  .flex-encuentros-items {
    flex-direction: column;
    padding: 1em;
    width: 80%; }
    .flex-encuentros-items img {
      width: 80%;
      margin-bottom: 1em; }
    .flex-encuentros-items p {
      width: 80%;
      text-align: center; }
  .fieldset-css {
    width: 80%; } }

@media only screen and (max-width: 576px) {
  footer .footer-logo {
    transform: translateX(-20px); }
  .container-info {
    width: 350px;
    font-size: .5em;
    line-height: normal; }
    .container-info img {
      width: 50%; } }

/*Mobile */
@media only screen and (max-width: 468px) {
  /* estilos generales */
  body,
  .header {
    width: 80%; }
  .logo-header {
    width: 20%;
    height: 20%; }
  .text {
    width: 90%;
    margin: 0 auto; }
  .tittle {
    font-size: 4em; }
  footer {
    height: 100px;
    text-align: center;
    justify-content: space-between; }
    footer .footer-logo {
      width: 30%;
      height: 30%;
      text-align: center;
      transform: translateX(-20px); }
  /* index */
  main {
    margin-top: 1em;
    overflow-x: hidden; }
  .inicio__container {
    flex-direction: column-reverse;
    align-items: center;
    margin: 0 auto; }
    .inicio__container video {
      width: 350px;
      margin-bottom: 1px; }
    .inicio__container h1 {
      animation: none;
      font-size: 4em;
      line-height: 70px; }
    .inicio__container span {
      margin: 0; }
  .slide {
    width: 100%; }
  /* taller */
  /* grid */
  .taller-container-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9, 1fr); }
  .container-tecnicas {
    width: 350px; }
  .container-info {
    width: 350px;
    font-size: .5em;
    line-height: normal; }
    .container-info img {
      width: 50%; }
  /* obras */
  .flex-obras-container {
    flex-direction: column;
    align-items: center; }
  .flex-obras-items {
    margin: 2em 0; }
  /* Biografía */
  .texto-somos {
    justify-content: center; }
  /* Encuentros */
  .tittle-encuentros {
    text-align: center; }
  .flex-encuentros-items {
    flex-direction: column;
    padding: 2em;
    width: 100%; }
    .flex-encuentros-items img {
      width: 270px;
      margin-bottom: 1em; }
    .flex-encuentros-items p {
      width: 300px;
      text-align: center; }
  /* Contacto */
  .tittle-contacto {
    transform: translate(-60px, 0); }
  .fieldset-css {
    width: 100%; } }
