@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&family=Poppins:wght@100;200;400;600&family=Raleway:wght@100;300;600;800&family=Roboto+Flex:opsz,wght@8..144,100;8..144,300&family=Roboto:wght@100;400;700&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
// Variables
$color-negro: #141414;
$color-blanco: #EAEAEA;
$color-blue: #2370c2;
$color-red: #a91414;
$color-light-green: #6e9d48;
$color-rosa: #E56399;
$color-magenta: #542260;
$color-title: #E56399;

// Funciom Mixin
/* Contenedor-transparente */
@mixin contenedor-transparente() {
    background-image: linear-gradient( to bottom, $color-negro, #3d3a621c);
    backdrop-filter: blur(5px);
    border-left: inset .1px $color-blanco;
    border-right: inset .1px $color-blue;
    border-bottom: inset .1px $color-magenta;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.798);
}

                                  /*Estilos generales  */
body{
    width: 1100px;
    margin: 0 auto;
    color: $color-blanco;
    background-color: #090909;
    background-image: linear-gradient(to bottom, #090909, #1d39562c);
    border-left: 1px solid #2370c276;
    border-right: 1px solid #5322608b;
    box-shadow: 0px 0px 100px  #000000;

}
                                /* HEADER */

header{
    @include contenedor-transparente();
    position: sticky;
    top: 0;
    height: 70px;
    z-index: 10;
    animation-name: header;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-duration: 3s;
    margin-bottom: 5em;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    .logo-header{
        width: 50px;
        height: 50px;
    }
    .logo-header,
    .navbar-toggler{
        animation-name: logo;
        animation-timing-function: ease-in;
        animation-iteration-count: 1;
        animation-duration: 5s;
    }
    .navbar{
        position: sticky;
        margin-bottom: 3em;
    }
    .navbar-collapse {
        flex-grow: initial;
        flex-wrap: nowrap;
    }
    a.nav-link{
        color: $color-blanco;
    }
// Hover
    a.nav-link:hover{
        color: $color-blue;
    }
    
/* Menú hamburguesa */
    .navbar-toggler{
        background-image: none;
        backdrop-filter: none;
    }
}
// Animaciones de logo
@keyframes header {
    0%{ transform: translate(0,-70px);

    }
    100%{
        transform: translate(0,0);
    }
}


/* Animación logo- icon-hamburger header */
@keyframes logo{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

/* Animacíon logos-tittles */
.logo-big,
.inicio__container h1{
    transition: 3s;
    animation-name: tittle-animado;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-duration: 5s;
}

@keyframes tittle-animado {
    0%{
        transform: scale(0,0);
        opacity: 0;
    }
    100%{
        transform: scale(1,1);

    }
}
/* Logo y titulo de secciones */
.container-logo-titulos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo-big{
    width: 120px;
    text-align: center;
    margin-bottom: 2em;
    }
.tittle{
    font-size: 5em;
    transform: translate(-100px,-10px);
    color: $color-title;
}
                                /* FOOTER */
footer{
color: $color-rosa;
padding: 1em;
height: 70px;
display: flex;
justify-content: space-around;
align-items: center;
@include contenedor-transparente();
border-top: outset .1px $color-magenta;
box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.798);
border-top-left-radius: 10px;
border-top-right-radius: 10px;
    .info-desarrollador{
        display: flex;
        flex-direction: column;
        align-items: center;
        .logo-personal{
            width: 30px;
            height: 30px;
        }
        h6{
            color: $color-blue;
        }
    }
    .footer-logo{
    width: 40px;
    height: 40px;
    transform: translateX(-60px);
    }
    .redes{
        display: flex;
        flex-direction: column;
        align-items: center;
        .icons{
            flex-direction: row;
        }
        .footer-icon{
            margin-right: 1em;
        }
    }
}


                                 /*Index  */
.inicio__container{
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2em;
        h1{
            font-size: 5em;
            color: $color-blanco;
            line-height: 120px;
            margin-left: 1em;
            text-shadow: 3px 0px 5px $color-magenta;
        };
        span{
            margin: 0 .3em;
        };
        video{
            box-shadow: 1px 0px 2px $color-magenta;
            border-radius: 15px;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.798);
        }
}
/* slider bootrtrap */
.slide{
    width: 70%;
    margin: 3em auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.798);
}
                            /* Titulo principal */
main h2{
    font-size: 2em;
    text-align: center;
    color: $color-blue;
    margin: 2em 0;
}
.text-index{
    padding: 1em;
    border-radius: 15px;
    @include contenedor-transparente();
}
/* Textos en todas las secciones */
.text{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.3em;
}
                    /* Section */
.flex-gallery{
    display: flex;
    justify-content: center;
    margin: 5em 0;
    img{
        box-shadow: 0px 0px 10px rgb(0, 0, 0);
    }
}
.tittle-medium{
    text-align: center;
    margin-bottom: 3em;
}

                          /* Taller */

                      /* Grid */
.taller-container-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 20px;
    justify-items: center;
    align-items: center;
    margin: 5em 0;
    img{
        width: 350px;
        @include contenedor-transparente();
    
    };
}


                                /* flex-tecnicas */
.flex-tecnicas{
    display: flex;
    flex-direction: column;
    align-items: center ;
    margin-bottom: 5em;
}
.container-tecnicas{
    width: 80%;
    padding: 2em;
    p{
        padding: 2em;
        border-radius: 15px;
        @include contenedor-transparente();
        margin: 0 auto;
    }
    video{
        width: 100%;

    }
}
.tecnicas-tittle{
    font-size: 2em;
    padding: 1em;
    color: $color-blue;
}

                        /* taller-article */

.article h2{
    font-size: 2em;
    padding: 3em;
    text-align: center;
    color: $color-rosa;
}
/* Datos  */
.container-info{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    margin: 3em auto;
    padding: 1em;
    border-radius: 30px;
    @include contenedor-transparente();
    img{
        border-radius: 15px;
    }
}
.info-text{
    text-align: end;
    font-size: 1.5em;
    text-transform: capitalize;
}
                       /* obras */

.videos-danza{
    text-align: center;
    display: block;
    padding: .5em;
    width: 250px;
    border-radius: 15px;
    color: $color-blue;
    margin: 2em auto;
    @include contenedor-transparente();
}
.flex-obras-container{
    display: flex;
    padding: 1em;
    margin: 5em 0;
    justify-content: space-around;
    align-items: center;
    
    
}
.flex-obras-items{
    width: 350px;
    padding: 1em 0;
    text-align: center;
    @include contenedor-transparente();
    border-radius: 15px;
    h3{
        text-transform: uppercase;
        font-weight: 200;
        margin-bottom: 1em;
        color: $color-rosa;
    };
    video{
        margin-bottom: 1em;
    };
    a img{
        width: 30px;
        height: 30px;
        margin: 1em 0;
    };
    h4{
        color: $color-rosa;
    }
}

                             /* Encuentros */
.flex-encuentros{
    display: flex;
    flex-direction: column;
}
.text-encuentros{
    width: 80%;
    margin: 0 auto;
    text-align: center;

}
.flex-encuentros-items{
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    padding: 1em;
    align-items: center;
    margin: 2em auto;
    @include contenedor-transparente();
    border-radius: 30px;
    img{
        border-radius: 15px;
    };
    div{
        flex-direction: column;
        text-align: center;
        h5{
            color: $color-rosa;
    
        }
        h6{
            color: $color-blue;
        }
        p{
            width: 270px;
        };
    }
}


                                /* Bio */
.img-biografia{
    width: 100%;
    margin: 3em auto;
}
.container-tarjetas{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}

/* Tarjetas */
.card-somos{
    width: 300px;
    height: 200px;
    margin: 1em auto;
    padding: 1em;
    display: flex;
    border-radius: 30px;
    @include contenedor-transparente();
    img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    p{
        width: 150px;
        text-align: start;
    }
    h5{
        text-align: center;
        color: $color-blue;
    }
}
.perfil{
    flex-direction: column;
    justify-items: center;
}


                                /* Contacto */

.fieldset-css{
    width: 40%;
    height: 600px;
    margin: 3em auto 5em;
    text-align: center;
    padding: 2em;
    border-radius: 30px;
    @include contenedor-transparente();
}
form fieldset p{
    margin-bottom: 2em;
}
fieldset input{
    background-color: #09121b;
    color: $color-blanco;
    margin-left: 1em;
} 
button{
    padding: .5em 1em;
    border-radius: 30px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 30px;
    background-image: linear-gradient( to top, $color-negro, $color-blue);
    backdrop-filter: blur(10px);
    border-left: inset .1px $color-blanco;
    border-right: inset .1px $color-blue;
    border-bottom: inset .1px $color-magenta;
    color: $color-blanco;
}
                        /* media queries */
// Pantallas Grandes
@media only screen and (min-width: 768px) and (max-width: 1200px) {
    body{
        width: 80%;
    }
    main{
        overflow-x: hidden;
    }
    .inicio__container{
        flex-direction: column-reverse;
        align-items: center;
        margin: 0 auto;
        video{
            width: 500px;
            margin-bottom: 3em;
        }
        h1{
            transform: translate(-40px);
        }
    }
}

// Tablets
@media only screen and (max-width: 768px) {
// estilos generales
body{
    width: 80%;
}
// Footer
footer{
    height: 90px;
    text-align: center;
    justify-content: space-between;
    .footer-logo{
        width: 20%;
        height: 20%;
        transform: translateX(-60px);
    }
}
// index
    main{
        overflow-x: hidden;
    }
    .inicio__container{
        flex-direction: column-reverse;
        align-items: center;
        margin: 0 auto;
        video{
            width: 500px;
            margin-bottom: 3em;
        }
        h1{
            transform: translate(-40px);
        }
    }
    .slide{
        width: 100%;
    }
// obras
    .flex-obras-container{
        flex-direction: column;
        .flex-obras-items{
            margin-bottom: 2em;
        }
    }
// taller
    .taller-container-grid{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(9,1fr);
    }
    .container-info{
        width: 90%;
        .info-text{
            font-size: 1em;
        }
    }
// Bio
    .container-tarjetas{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(12,1fr);
    }
// Encuentros
    .flex-encuentros-items{
        flex-direction: column;
        padding: 1em;
        width: 80%;
        img{
            width: 80%;
            margin-bottom: 1em;
        }
        p{
            width: 80%;
            text-align: center;
        }
    }
// Contacto
    .fieldset-css{
        width: 80%;
    }
}
// Mobil-big
@media only screen and (max-width: 576px){
    footer{
        .footer-logo{
            transform: translateX(-20px);
        }
    }
// Taller
    .container-info{
        width: 350px;
        font-size: .5em;
        line-height: normal;
        img{
            width: 50%;
        }
    }
}
/*Mobile */
@media only screen and (max-width:468px){
/* estilos generales */
        body,
        .header{
            width: 80%;
        }
        .logo-header{
            width: 20%;
            height: 20%;
        }
        .text{
            width: 90%;
            margin: 0 auto;
        }
        // titulos en las secciones
        .tittle{
            font-size: 4em;
        }

//Footer
        footer{
            height: 100px;
            text-align: center;
            justify-content: space-between;
            .footer-logo{
                width: 30%;
                height: 30%;
                text-align: center;
                transform: translateX(-20px);
            }
        }
/* index */
        main{
            margin-top: 1em;
            overflow-x: hidden;
        }
        .inicio__container{
            flex-direction: column-reverse;
            align-items: center;
            margin: 0 auto;
            video{
                width: 350px;
                margin-bottom: 1px;
            }
            h1{
                // transform: translate(-40px);
                animation: none;
                font-size: 4em;
                line-height: 70px;
            }
            span{
                margin: 0;
            }
        }
        .slide{
            width: 100%;
        }
        
/* taller */
/* grid */
        .taller-container-grid{
            grid-template-columns: repeat(1,1fr);
            grid-template-rows: repeat(9,1fr);
        }
        .container-tecnicas{
            width: 350px;
        }
        .container-info{
            width: 350px;
            font-size: .5em;
            line-height: normal;
            img{
                width: 50%;
            }
        }
/* obras */
        .flex-obras-container{
            flex-direction: column;
            align-items: center;
        }
        .flex-obras-items{
            margin: 2em 0;
        }
/* Biografía */
        .texto-somos{
            justify-content: center;
        }
/* Encuentros */
        .tittle-encuentros{
            text-align: center;
            // transform: translate(-30px,0);
        }
        .flex-encuentros-items{
            flex-direction: column;
            padding: 2em;
            width: 100%;
            img{
                width: 270px;
                margin-bottom: 1em;
            }
            p{
                width: 300px;
                text-align: center;
            }
        }
/* Contacto */
        .tittle-contacto{
            transform: translate(-60px,0);
        }
        .fieldset-css{
            width: 100%;
        }
}
